[Unit]
Description=DELL notebook fan control
Documentation=man:i8kmon(1)
After=sys-subsystem-hwmon-devices-dell_smm.device
BindsTo=sys-subsystem-hwmon-devices-dell_smm.device

[Service]
ExecStart=/usr/bin/i8kmon
Restart=always
RestartSec=5

[Install]
WantedBy=sys-subsystem-hwmon-devices-dell_smm.device
