[Unit]
Description=DELL notebook fan control
Documentation=man:i8kmon(1)
Requisite=multi-user.target
After=sys-subsystem-hwmon-devices-dell_smm.device multi-user.target
BindsTo=sys-subsystem-hwmon-devices-dell_smm.device

[Service]
ExecStart=/usr/bin/i8kmon
ExecStopPost=/usr/bin/i8kmon_helper
Restart=always
RestartSec=5

[Install]
WantedBy=sys-subsystem-hwmon-devices-dell_smm.device
